<div class="modal-header FormStyle">
<form name="myForm" novalidate required>

<p>Email:<br>
<input type="email" name="email" ng-model="email" required>
<!-- <span style="color:red" ng-show="myForm.email.$dirty myForm.email.$invalid myForm.email.$touched">
<span ng-show="myForm.email.$error.required">Email is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span> -->
</span>
</p>
<p>Password<br>
<input type="password" name="password" ng-model="password" required>
</p>

<button class="btn btn-primary" type="button"  ng-click="LoginUser()">Submit</button>

<div id="loginmsg" class="chatStyle" >hi</div>

</form>
</div>

<!-- <button class="btn btn-primary" type="button"  ng-hide="check()">check</button> -->

<div ng-show= "a">
    <button type="button" class="btn btn-default BtnStyle" ui-sref="dashboard">dashboard</button>
</div>
 