<div uib-collapse="isCollapsed">
  <div class="well well-lg">
<table class="table">    
  <tr> 
    <td> Name </td>
    <td><input type="text" ng-model = "name"> </td>
  </tr>
  <tr> 
    <td> Class</td>
    <td><input type="text" ng-model = "class"> </td>
  </tr> 
  <tr> 
    <td>Sub1</td>
    <td><input type="text" ng-model = "sub1"> </td>
  </tr> 
  <tr> 
    <td>Sub2</td>
    <td><input type="text" ng-model = "sub2"> </td>
  </tr> 
  <tr> 
    <td>School Name</td>
    <td><input type="text" ng-model = "schoolName"> </td>
  </tr> 
  <tr> 
    <td><input type="button" class="btn btn-default buttonStyle" ng-click = "AddStudent()" value="Save Data"> </td> 
  </tr>               
</table>

</div>