


        <div uib-collapse="isCollapsed">
                <div class="well well-lg">


        <button type="button" class="btn btn-default BtnStyle" ui-sref="viewschools">View Schools</button>
        <button type="button" class="btn btn-default BtnStyle" ui-sref="addschools" >Add Schools</button>
        <button type="button" class="btn btn-default BtnStyle" ui-sref="viewstudents">View Students</button>
        <button type="button" class="btn btn-default BtnStyle" ui-sref="addstudents">Add Students</button>
        <button type="button" class="btn btn-default BtnStyle" ui-sref="analytics" >Analytics</button>
        <button type="button" class="btn btn-default BtnStyle" ui-sref="chatdata">Chat</button>
       
              </div>
        </div>